@charset "UTF-8";
/* CSS Document */
html{overflow-x: hidden; margin: 0; padding: 0;}
body{margin: 0; padding: 0; font-family:'Montserrat',"游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;background-color:#f6f6f6;background-image:url(../img/bg.png);
}

.slider1{
}

.s1{background:url(../img/dekikata2017_mockup.png) center;}
.s2{background:url(../img/sc2.png);}
.s3{background:url(../img/sc3.png);}
.sl-base{
	background-size: cover;
	width:100%;
	height:540px;
	display:table;
	/* box-shadow */
	box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 10px -1px inset;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 10px -1px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 10px -1px inset;

	}


.p{
	margin-top:60px;
	color:#1C2545;
	font-size:15px;
	padding:30px;
	width:350px;
	border-radius:5px;
	background-color:rgba(255,255,255,0.7);
}


#header{
	position: fixed;
	top:0px;
	text-align:left;
	z-index: 2;
}
#header img{
	margin-left:10px;
}
#header p{
	position:relative;
	color:#fffefd;
	margin-top:-10px;
	letter-spacing:0.7em;
	font-size:13px;
	margin-left:80px;
	width:210px;
	text-align:left;
}

#link{
	bottom:0%;
	width:98%;
	right:0%;
	height:25%;
	background:;
	position:;
	display:table;
	text-align:center;
}

#link ul{
	margin-left:-30px;
	padding-top:10px;
	padding-bottom:20px;
}

#link li {
	list-style: none;
	float:left;
	width:15%;
	margin-right:1.6%;
	display:table-cell;
	margin-bottom:15px;
}

.thumb{
	padding: 3px;
	margin: 0 5px;
    width: 180px;
	border:solid 1px #b9b9b9;
	border-radius: 3px;
	background-color:#FAF7F4;
	transition:background-color 0.5s, border-color 0.5s ;

}
.thumb:hover{background-color:#b6c5c9;}
.new{
	background-color:#dfe8ed;
}

.title{
	position: relative;
	width: 360px;
	margin-top: -25px;
	background-image:url(../img/bg.png);
	border-radius: 10px 10px 0px 0px;
	padding: 10px 20px 1px;

	/* box-shadow */
	box-shadow:rgba(0, 0, 0, 0.2) 5px -3px 7px -3px ;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 5px -3px 7px -3px ;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 5px -3px 7px -3px ;
}

.kokuchi {
	margin:100px 15% 0px 50px;
	width:250px;
	height:250px;
	float:right;
	//background:url(../img/kokuchi02.png) no-repeat ;
	background-size: contain;
}

.mannaka{
	display:table-cell;
	vertical-align:middle;
}

.mannaka h1{
	color:#1C2545;
	font-size:28px;
	line-height:18px;
	margin-top:8px;
}

.contents{
	width: 980px;
	margin: 0 auto;
	padding: 30px 0;
}



/*///////////////////////////////////////////////////
footer
///////////////////////////////////////////////////*/

footer{
	width: 100%;
    margin: 0;
	padding: 15px 0;
	display: inline-block;
	background-color: #282b31;
	font-size: 12px;
	color: #FFFFFF;
}

#footer_container{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#sns{
	width: 110px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	border-right: 1px dotted #f0f0f1;
	border-left: 1px dotted #f0f0f1;
}

.sns-box{
	margin: 0 5px;
}

#idd{
	width: 55px;
	border-right: 1px dotted #f0f0f1;
	padding: 6px 20px;
}

#copy{
	width: 205px;
	height: 45px;
	border-right: 1px dotted #f0f0f1;
	padding: 0 20px;
	margin-right: 20px;
}
