.slider-pro {
    font-family: 'Open Sans', Arial;
}

/* Example 1 */

#example1 .sp-thumbnail {
	width: 100%;
	height:80px;
	padding: 0px;
	background-color: #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	 position:relative;
    overflow:hidden;
	
}

#example1 .sp-thumbnail img{
	width: 100%;
	position:absolute;
    margin-top:-10%;
}

#example1 .sp-thumbnail-title {
	margin-bottom: 0px;
	text-transform: uppercase;
	color: #333;
}

#example1 .sp-thumbnail-description {
	font-size: 14px;
	color: #333;
}



@media (max-width: 640px) {
	#example1 .sp-layer {
		font-size: 12px;
	}

	#example1 .hide-small-screen {
		display: none;
	}
}

/*@media (max-width: 500px) {
	#example1 .sp-thumbnail {
		text-align: center;
	}

	#example1 .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	#example1 .sp-thumbnail-description {
		display: none;
	}
}



.links {
	text-align: center;
	margin-top: 10px;
}


